<%- include("partials/header.ejs") %>
<div class="container">
    <h3><a href="">Articals: </a></h3>
    <h2>About my book notes</h2>
    <p>28-02-2024</p>
    <p>
        At <a href = "">surek.ah</a> I have a collection of my notes from the 100+ books I’ve read since 2014. This page is just to answer some questions about it.
    </p>
    <h2>My notes are not a summary of the book!</h2>
    <p>
        When I’m reading and come across a surprising or inspiring idea, I save it.<br>That’s all my notes are. I’m not summarizing the book. I’m just saving ideas for myself, for later reflection.<br>If I’m reading a book about a subject I already know well, I’ll have very few notes, because not much surprised me.<br> I kept these notes private for years, but decided it couldn’t hurt to put them on my site.
    </p>
    
    
    <h2>Notes don’t replace the book</h2>
    <p>It makes me sad when people email to say thanks for my notes because it saved them time from reading the book.

My notes are just some tiny tidbits with no context. It’s like reading a punchline without the joke. If you hear an elaborate joke, then the punchline — (“The little piece of rope said, ‘No. I’m a frayed knot!’”) — is all you need to remember the full joke. But if you just hear the punchline, without the joke, it makes no sense. I just save the punchlines to remind myself what I’ve read.

Again: these notes are really just for me but I’m sharing them on my site.

If you look through a book’s notes and like the ideas, please go read the whole book. It gives so much more context and meaning.
</p>
</div>
</div>
<%- include("partials/footer.ejs") %>