<!DOCTYPE html>
<html>
    <head>
        <title>Surekha Sangle</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "styles/styles1.css" >
        <link rel = "icon" href = "img/favicon.ico" >
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/9a2042970a.js" crossorigin="anonymous"></script>    
</head>
    <body>
        
        <div class = "top">
            <img class ="top_cloud" src = "img/cloud.png" alt = "cloud image">
            <h1>I'm Surekha.</h1>
            <h2>a programmer.</h2>
            <!-- <img src = "img/my_photo.png" alt = "surekha sangle image" width = "15%" height = "15%"> -->
            <img class ="bottom_cloud" src = "img/cloud.png" alt = "cloud image">
            <img src = "img/mountain.png" alt = "mountain image">
            

        </div>
        <div class = "middle">
            <div class="profile">
                <img class="profile_img" src="img/me3.png" alt="my_photo" width="200"
                height="200">     
                <h2>Hello.</h2>
                <p class="intro">I am a Software Engineer. Works at Tata Consultany Services. I <i class="iconn fa-sharp fa-solid fa-heart"></i> reading novels. This way whole world opens up to me.</p>
            </div>
            <hr>
            <div class="skills">
                <h2>Education</h2>
                <div class ="skill-row">
                    <!-- <img class="chilli_img" src="img/system_engineer.avif" alt="chilli_photo"> -->
                    <h3>B.E in Computer Science</h3>
                   <p> Government College of Engineering Aurangabad  <i>June’17 - May’21 </i></p>
                   8.6/10 GPA
                         
                </div>
                
            </div>
            <hr>
            <div class="skills">
                <h2>Experience</h2>
                <div class ="skill-row">
                    <!-- <img class="chilli_img" src="img/system_engineer.avif" alt="chilli_photo"> -->
                    <h3>System Engineer</h3> Tata Consultancy Services <i>June ’21 - Present</i>
                    <p>• Worked in a migration project to revise java based reporting software to DSL. Analyzed the regulator
                        taxonomies and implemented mapping, Allocated and validated data in reports.</p>
                        <p>• Worked on RuleGenerator tool to assist with the automatic generation of validation rules and developed a script
                        that streamlines and automates the creation of unit tests, along with the generation of corresponding test data. It
                        reduced manual efforts by 90 percent.</p>
                        <p>• Completed a document creation tool( DITA plugin) which automated the process of project specific
                        documentation</p>       
                </div>
                <div class ="skill-row">
                    <!-- <img class="computer_img" src="img/computer.png" alt="computer_img"> -->
                    <h3>Web Development Intern</h3>  iPing Data Labs <i>Dec ’20 - Jan ’21</i>
                    <p>
                        • Devised a full-stack Employee Tracking and Project Management web application.</p><p>
• Tech Stack : Html, Css, Javascript, Sql, Php, Bootstrap </p>
               </div>
            </div>
            <hr>
            <div class="skills">
                <h2>Projects</h2>
                <div class ="skill-row">
                    <!-- <img class="chilli_img" src="img/system_engineer.avif" alt="chilli_photo"> -->
                    <h3>I am surekha <i>June ’21 - Present</i></h3> <p>portfolio website </p>
                    <p>Html, Css, Javascript, Node.js, React.js, Sql, Bootstrap</p> <i>June ’23</i>
                    <p>Created portfolio website which includes my skills, experiences and the diverse range of web development projects
                        I’ve undertaken.</p>
                        <p>
                        • Key Features : Interactive Resume - allows user to click through my skills and achievements, Skills
                        Visualizations - charts and graphs to showcase my proficiency in different skills, Personal Blog - blog to share
                        my thoughts on different areas of my interest, Newsletter Subscription - allows visitors to subscribe to a
                        newsletter to receive updates on my latest projects and blog posts.</p>       
                </div>
                <div class ="skill-row">
                    <!-- <img class="computer_img" src="img/computer.png" alt="computer_img"> -->
                    <h3>NovalNomad</h3>  online readers community <p>Html, Css, Js, Node.js, React.js, Sql, Bootstrap</p>
                    <i>Nov ’23</i>
                    <p>
                        Developed a website where users can write and share reviews of books they’ve read. </p>
                        <p>• Include features like user profiles, ratings, and comments to foster a community of readers.</p>
                            <p>• Key Features : Book trading - users can list books they want to trade with others, Reading challenge
tracker - allows users to set and track reading goals, Book quiz - a fun and interactive quiz where users can test
their knowledge of literature, authors, and book-related trivia. </p>
               </div>
            </div>
            <hr>

            <div class="skills">
                <h2>Technical Skills</h2>
                <div class ="skill-row">
                    <!-- <img class="chilli_img" src="img/system_engineer.avif" alt="chilli_photo"> -->
                    <ul>
                        <li>Languages : C, C++, HTML, CSS, JavaScript</li>
                        <li>Frameworks : Bootstrap</li>
                        <li>Database : SQL, MongoDB </li>
                        <li>Developer Tools : Git, TeamCity, VS Code, Visual Studio</li>
                        <li>Key Skills : Data Structures, Algorithms</li>
                        <li>Backend Technology : Node.js, Express.js</li>
                    </ul>
                </div>
                
            </div>
            <hr>

            <div class="skills">
                <h2>Coding Profile</h2>
                <div class ="skill-row">
                    <!-- <img class="chilli_img" src="img/system_engineer.avif" alt="chilli_photo"> -->
                <ul>
                    <li>GeeeksForGeeks : 650+ problems solved  <a href="">surekhasangle06</a></li>
                    <li>Leetcode : 245+ problems solved  <a href="">surekhasangle</a></li>
                    <li>Codecheif : 3* coder  <a href="">suru06</a></li>
                </ul>
                </div>
                
            </div>

            <div class="skills">
                <h2>achievements/Courses</h2>
                <div class ="skill-row">
                   
                <ul>
                    <li>• NPCI Voice-Based Payments Hackathon, Rank - 19 | 2019</li>
                    <li>• Hacktoberfest - Open Source Contribution | Oct 2018, 2019, 2020, 2021</li>
                    <li>• Algorithm Specialization Certification by Stanford University Link | July 2020</li>
                    <li>• The Complete 2023 Web Development Bootcamp by Angela Yu | Dec 2023</li>
                </ul>
                </div>
                
            </div>

            <div class="contact-me">
                <h2>Get In Touch</h2>
                <h3>If you love reading as much as I do. Check out my</h3><a href="/" target="_blank">BookFolio</a>
                
                <p class="contact_message">Love reading as much as I do? Let's talk about how awesome novels are! We can read while we eat chips!</p>
                <a class="btn" href="mailto:surekhasangle06@gmail.com">CONTACT ME</a>
            </div>
        </div>
        <div class = "bottom">
            <a class="footer-link" href="linkedin">LinkedIn</a>
            <a class="footer-link" href="gfg">GFG</a>
            <a class="footer-link" href="leetcode">Leetcode</a>
            <a class="footer-link" href="codecheif">Codecheif</a>
            <p class="copyright">2023 Surekha Sangle @The App Reading</p>
        </div>
    </body>
</html>
