<!DOCTYPE html>
<html>
    <head>
        <title>Surekha Sangle</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "styles/styles1.css" >
        <link rel = "icon" href = "img/favicon.ico" >
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/9a2042970a.js" crossorigin="anonymous"></script>    
</head>
    <body>
        
        <div class = "top">
            <img class ="top_cloud" src = "img/cloud.png" alt = "cloud image">
            <h1>I'm Surekha.</h1>
            <h2>a programmer.</h2>
            <!-- <img src = "img/my_photo.png" alt = "surekha sangle image" width = "15%" height = "15%"> -->
            <img class ="bottom_cloud" src = "img/cloud.png" alt = "cloud image">
            <img src = "img/mountain.png" alt = "mountain image">
            

        </div>
        <div class = "middle">
            <div class="profile">
                <img class="profile_img" src="img/me3.png" alt="my_photo" width="200"
                height="200">     
                <h2>Hello.</h2>
                <p class="intro">I am a Software Engineer. Works at Tata Consultany Services. I <i class="iconn fa-sharp fa-solid fa-heart"></i> reading novels. This way whole world opens up to me.</p>
            </div>
            <hr>
            <div class="skills">
                <h2>My skills</h2>
                <div class ="skill-row">
                    <img class="chilli_img" src="img/chillies.png" alt="chilli_photo">
                    <h3>lorenn & ipsum</h3>
                    <p>lorem ipsum doror sijt amet vutae volute dui conubis doorr urna. non auctor montes nulla distniction.</p>
                </div>
                <div class ="skill-row">
                    <img class="computer_img" src="img/computer.png" alt="computer_img">
                    <h3>lorenn & ipsum dolor</h3>
                    <p>lorem ipsum doror sijt amet vutae volute dui conubis doorr urna. non auctor montes nulla distniction.</p>
                </div>
            </div>
            <hr>
            <div class="contact-me">
                <h2>Get In Touch</h2>
                <h3>If you love reading as much as I do. Check out my</h3><a href="/" target="_blank">BookFolio</a>
                
                <p class="contact_message">Love reading as much as I do? Let's talk about how awesome novels are! We can read while we eat chips!</p>
                <a class="btn" href="mailto:surekhasangle06@gmail.com">CONTACT ME</a>
            </div>
        </div>
        <div class = "bottom">
            <a class="footer-link" href="linkedin">LinkedIn</a>
            <a class="footer-link" href="gfg">GFG</a>
            <a class="footer-link" href="leetcode">Leetcode</a>
            <a class="footer-link" href="codecheif">Codecheif</a>
            <p class="copyright">2023 Surekha Sangle @The App Reading</p>
        </div>
    </body>
</html>
