<%- include("partials/header.ejs") %>

<div class = "middle">
    <div class="profile">
      <h2>Places I've travelled <img src="img/travel.png" alt="travel_photo" width="50" height="50"></h2>
      <p>
        I view travel as life’s great educator. There’s no better way to learn about people and nature 
        and your place in the world.
        I got hooked on travel during my first year of careeer, when I backpacked with my friends on 10 days trip to Goa.
        Since then I go on trips at least once a year. My trips taught me a lot of things:
       never turn down an invitation📧, bargain hard🤑 and always carry a deck of cards🃏.
      </p>        
    </div>
    <hr>
    
    <div class="row">
    <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="img/rajasthan.webp" alt="Card image cap" height="200px" width="200px">
      <div class="card-body">
        <p class="card-text">Rajasthan</p>
        <a href="#placesR" class="card-link">Places Visited</a>
        <a href="#photosR" class="card-link">photos</a>
        <h3>June 2024</h3>
      </div>
    </div>
  </div>
    <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="img/north.jpg" alt="Card image cap" height="200px" width="200px">
      <div class="card-body">
        <p class="card-text">Shimla-Manali</p>
        <a href="#photosM" class="card-link">photos</a>
        <h3>December 2023</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="img/goa1.jpg" alt="Card image cap" height="200px" width="200px">
      <div class="card-body">
        <p class="card-text">Goa</p>
        <a href="#photosG" class="card-link">photos</a>
        <h3>March 2022</h3>
      </div>
    </div>
  </div>
  </div>

  <hr>
  <div id="photosR">
  <div class="awards-cards">
    <img class="card-img-top" src="img/goa1.jpg" alt="Card image cap" height="200px" width="200px">
    <div class="award-card__wrapper">Udaipur - City of Lakes
      Best part of Rajasthan lies in udaipur. Best views especially at night. Most friendly people I've ever seen. 
      Unbelievable architectural work & bestest Chai.
    </div>
   
    <div class="award-card__wrapper">Mount Abu - Hill Station
      <img class="card-img-top" src="img/goa.jpg" alt="Card image cap" >
    </div>
    <img class="card-img-top" src="img/goa1.jpg" alt="Card image cap" >
    <div class="award-card__wrapper">Jodhpur - Blue City 
      Amazing morning but crowded with pre-wedding photoshoot couples. Kachori, Shahi samosa & Makhaniya lassi was the highlight.
    </div>
    <img class="card-img-top" src="img/goa1.jpg" alt="Card image cap" >
    <div class="award-card__wrapper">
      Jaipur - Pink City
       Sunset at Jaigad fort once in lifetime feel. Elephant village & city palace can be avoided too expensive.
    </div>
    <!-- <img class="card-img-top" src="img/goa1.jpg" alt="Card image cap" > -->
    <div class="award-card__wrapper"> Jaisalmer - Desert
      <img class="card-img-top" src="img/goa.jpg" alt="Card image cap" >
    </div>
    <img class="card-img-top" src="img/goa1.jpg" alt="Card image cap">
    <div class="award-card__wrapper">Sawai Madhopur - Ranthambore National Park
      We were lucky that day. We spotted 4 Tigers on our first ever jungle safari. It was Ridhi121 Tigress and her 3 cubs. we did follow them for about 45min.
      She seemed to be in good mood. She was roaming freely in between our vehicles.
    </div>
  </div> 
</div>
  
<div id="placesR">
  PlacesR
</div>

<hr>
  <div id="photosM">
  <div class="awards-cards">
    <img class="card-img-top" src="img/goa1.jpg" alt="Card image cap" height="200px" width="200px">
    <div class="award-card__wrapper">Udaipur - City of Lakes
      Best part of Rajasthan lies in udaipur. Best views especially at night. Most friendly people I've ever seen. 
      Unbelievable architectural work & bestest Chai.
    </div>
   
    <div class="award-card__wrapper">Mount Abu - Hill Station
      <img class="card-img-top" src="img/goa.jpg" alt="Card image cap" >
    </div>
    <img class="card-img-top" src="img/goa1.jpg" alt="Card image cap" >
    <div class="award-card__wrapper">Jodhpur - Blue City 
      Amazing morning but crowded with pre-wedding photoshoot couples. Kachori, Shahi samosa & Makhaniya lassi was the highlight.
    </div>
    <img class="card-img-top" src="img/goa1.jpg" alt="Card image cap" >
    <div class="award-card__wrapper">
      Jaipur - Pink City
       Sunset at Jaigad fort once in lifetime feel. Elephant village & city palace can be avoided too expensive.
    </div>
    <!-- <img class="card-img-top" src="img/goa1.jpg" alt="Card image cap" > -->
    <div class="award-card__wrapper"> Jaisalmer - Desert
      <img class="card-img-top" src="img/goa.jpg" alt="Card image cap" >
    </div>
    <img class="card-img-top" src="img/goa1.jpg" alt="Card image cap">
    <div class="award-card__wrapper">Sawai Madhopur - Ranthambore National Park
      We were lucky that day. We spotted 4 Tigers on our first ever jungle safari. It was Ridhi121 Tigress and her 3 cubs. we did follow them for about 45min.
      She seemed to be in good mood. She was roaming freely in between our vehicles.
    </div>
  </div> 
</div>

<hr>
<div id="photosG">
  <div class="awards-cards">
    <img class="card-img-top" src="img/goa1.jpg" alt="Card image cap" height="200px" width="200px">
    <div class="award-card__wrapper">Udaipur - City of Lakes
      Best part of Rajasthan lies in udaipur. Best views especially at night. Most friendly people I've ever seen. 
      Unbelievable architectural work & bestest Chai.
    </div>
   
    <div class="award-card__wrapper">Mount Abu - Hill Station
      <img class="card-img-top" src="img/goa.jpg" alt="Card image cap" >
    </div>
    <img class="card-img-top" src="img/goa1.jpg" alt="Card image cap" >
    <div class="award-card__wrapper">Jodhpur - Blue City 
      Amazing morning but crowded with pre-wedding photoshoot couples. Kachori, Shahi samosa & Makhaniya lassi was the highlight.
    </div>
    <img class="card-img-top" src="img/goa1.jpg" alt="Card image cap" >
    <div class="award-card__wrapper">
      Jaipur - Pink City
       Sunset at Jaigad fort once in lifetime feel. Elephant village & city palace can be avoided too expensive.
    </div>
    <!-- <img class="card-img-top" src="img/goa1.jpg" alt="Card image cap" > -->
    <div class="award-card__wrapper"> Jaisalmer - Desert
      <img class="card-img-top" src="img/goa.jpg" alt="Card image cap" >
    </div>
    <img class="card-img-top" src="img/goa1.jpg" alt="Card image cap">
    <div class="award-card__wrapper">Sawai Madhopur - Ranthambore National Park
      We were lucky that day. We spotted 4 Tigers on our first ever jungle safari. It was Ridhi121 Tigress and her 3 cubs. we did follow them for about 45min.
      She seemed to be in good mood. She was roaming freely in between our vehicles.
    </div>
  </div> 
</div>


</div>
</div>
<%- include("partials/footer.ejs") %>